.book-1-icon {
    width: 400px;
    position: relative;
    height: 800px;
    object-fit: cover;
}
.book-1-wrapper {
    position: absolute;
    top: 114px;
    left: 900px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
}
.location1 {
    margin: 0;
}
.location {
    position: absolute;
    top: 228px;
    left: 0px;
    letter-spacing: -0.03em;
    line-height: 30px;
    display: inline-block;
    width: 392px;
    height: 29px;
}
.this-series-of {
    position: absolute;
    top: 29px;
    left: 1px;
    letter-spacing: -0.03em;
    line-height: 28px;
    text-align: left;
    display: inline-block;
    width: 387px;
    height: 85px;
}
.january-22th {
    position: absolute;
    top: 181px;
    left: 1px;
    letter-spacing: -0.03em;
    line-height: 30px;
    display: inline-block;
    width: 387px;
    height: 29px;
}
.time {
    position: absolute;
    top: 157px;
    left: 1px;
    letter-spacing: -0.03em;
    line-height: 30px;
    display: inline-block;
    width: 233px;
    height: 23px;
}
.memory {
    position: absolute;
    top: 0px;
    left: 1px;
    letter-spacing: -0.03em;
    line-height: 30px;
    display: inline-block;
    width: 116px;
    height: 23px;
}
.i-had-a {
    position: absolute;
    top: 26px;
    left: 0px;
    letter-spacing: -0.03em;
    line-height: 28px;
    white-space: pre-wrap;
    display: inline-block;
    width: 387px;
    height: 56px;
}
.more-info {
    position: absolute;
    top: 0px;
    left: 0px;
    letter-spacing: -0.03em;
    line-height: 30px;
    display: inline-block;
    text-align: justify;
    width: 116px;
    height: 23px;
}
.i-had-a-collection-of-the-whol-parent {
    position: absolute;
    top: 299px;
    left: 0px;
    width: 387px;
    height: 82px;
    text-align: left;
}
.no-clue {
    position: absolute;
    top: 256px;
    left: 0px;
    letter-spacing: -0.03em;
    line-height: 24px;
    display: inline-block;
    width: 387px;
    height: 128px;
}
.location-parent {
    width: 392px;
    position: relative;
    height: 384px;
}
.group-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.frame-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
}
.web-2-1-4-inner {
    position: absolute;
    top: 104px;
    left: 176px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
}
.home {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 114px;
    height: 56px;
    color: #000;
}
.about {
    position: absolute;
    top: 0px;
    left: 125px;
    line-height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 115px;
    height: 56px;
    cursor: pointer;
    color: #000;
}
.sensories {
    position: absolute;
    top: 0px;
    left: 251px;
    line-height: 64px;
    white-space: pre-wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 151px;
    height: 56px;
    color: #000;
}
.home-parent {
    width: 402px;
    position: relative;
    height: 56px;
}
.sensory-archive-exploring {
    width: 552px;
    position: relative;
    line-height: 64px;
    white-space: pre-wrap;
    display: inline-block;
    height: 56px;
    flex-shrink: 0;
}
.group-parent {
    position: absolute;
    top: 7px;
    left: 49px;
    width: 1626px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
.div {
    width: 67px;
    position: relative;
    line-height: 64px;
    display: inline-block;
    height: 56px;
    flex-shrink: 0;
    transform:  rotate(180deg);
    cursor: pointer;
    color: #000;
}
.div1 {
    width: 67px;
    position: relative;
    line-height: 64px;
    display: inline-block;
    height: 56px;
    flex-shrink: 0;
    cursor: pointer;
    color: #000;
}
.parent {
    position: absolute;
    top: 501px;
    left: 49px;
    width: 1630px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    font-size: 100px;
    font-family: Abel;
}
.web-2-1-4 {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 1117px;
    overflow: hidden;
    text-align: justify;
    font-size: 24px;
    color: #000;
    font-family: Barlow;
}

