.div {
    position: absolute;
    top: 501px;
    left: 1612px;
    line-height: 64px;
    display: inline-block;
    width: 67px;
    height: 56px;
    cursor: pointer;
    color:black
}
.div1 {
    position: absolute;
    top: 501px;
    left: 116px;
    line-height: 64px;
    display: inline-block;
    width: 67px;
    height: 56px;
    transform:  rotate(180deg);
    transform-origin: 0 0;
    cursor: pointer;
    color:black
}
.icon {
    position:fixed;
    top: 1px;
    left: 654px;
    width: 1000px;
    height: 900px;
    object-fit:none;

}
.home {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 114px;
    height: 56px;
}
.about {
    position: absolute;
    top: 0px;
    left: 136px;
    line-height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 115px;
    height: 56px;
    cursor: pointer;
}
.sensories {
    position: absolute;
    top: 0px;
    left: 251px;
    line-height: 64px;
    white-space: pre-wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 151px;
    height: 56px;
}
.home-parent {
    width: 402px;
    position: relative;
    height: 56px;
}
.sensory-archive-exploring {
    width: 552px;
    position: relative;
    line-height: 64px;
    white-space: pre-wrap;
    display: inline-block;
    height: 56px;
    flex-shrink: 0;
}
.group-parent {
    position: absolute;
    top: 0px;
    left: 49px;
    width: 1626px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    font-size: 24px;
    font-family: Barlow;
}
.blank-line {
    margin: 0;
}
.text {
    position: absolute;
    top: 0px;
    left: 2px;
    letter-spacing: -0.03em;
    line-height: 30px;
    font-family: Abel;
    display: inline-block;
    width: 387px;
    height: 752px;
}
.graduating-from-high {
    position: absolute;
    top: 43px;
    left: 3px;
    letter-spacing: -0.03em;
    line-height: 28px;
    text-align: left;
    display: inline-block;
    width: 387px;
    height: 85px;
}
.june-20th-in-container {
    position: absolute;
    top: 236px;
    left: 1px;
    letter-spacing: -0.03em;
    line-height: 30px;
    display: inline-block;
    width: 387px;
    height: 42px;
}
.time-location {
    position: absolute;
    top: 200px;
    left: 0px;
    letter-spacing: -0.03em;
    line-height: 30px;
    display: inline-block;
    width: 233px;
    height: 23px;
}
.memory {
    position: absolute;
    top: 12px;
    left: 1px;
    letter-spacing: -0.03em;
    line-height: 30px;
    display: inline-block;
    width: 116px;
    height: 23px;
}
.there-were-a {
    position: absolute;
    top: 35px;
    left: 1px;
    letter-spacing: -0.03em;
    line-height: 28px;
    display: inline-block;
    width: 387px;
    height: 56px;
}
.more-info {
    position: absolute;
    top: 0px;
    left: 0px;
    letter-spacing: -0.03em;
    line-height: 30px;
    display: inline-block;
    font-family: Barlow;
    text-align: justify;
    width: 116px;
    height: 23px;
}
.there-were-a-few-tear-drop-mar-parent {
    position: absolute;
    top: 374px;
    left: 1px;
    width: 388px;
    height: 91px;
    text-align: left;
    font-family: Abel;
}
.text-parent {
    width: 390px;
    position: relative;
    height: 752px;
}
.grad-inner {
    position: absolute;
    top: 104px;
    left: 196px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-align: justify;
    font-size: 24px;
    font-family: Barlow;
}
.grad {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 1117px;
    overflow: hidden;
    text-align: left;
    font-size: 100px;
    color: #000;
    font-family: Abel;
}

