.p {
    margin: 0;
}

.txt {
    line-break: anywhere;
    width: 100%;

}

.div {
    position: absolute;
    top: 0px;
    left: 0px;
    letter-spacing: -0.05em;
    line-height: 89px;
    display: flex;
    align-items: center;
    width: 115px;
    height: 392px;
    filter: blur(1px);
}

.div1 {
    position: absolute;
    top: 0px;
    left: 137px;
    letter-spacing: -0.05em;
    line-height: 89px;
    display: flex;
    align-items: center;
    width: 115px;
    height: 392px;
    filter: blur(1px);
}

.div2 {
    position: absolute;
    top: 382px;
    left: -11px;
    letter-spacing: -0.05em;
    line-height: 89px;
    display: flex;
    align-items: center;
    width: 115px;
    height: 392px;
    filter: blur(2px);
}

.div3 {
    position: absolute;
    top: 382px;
    left: 126px;
    letter-spacing: -0.05em;
    line-height: 89px;
    display: flex;
    align-items: center;
    width: 115px;
    height: 392px;
    filter: blur(2px);
}

.div4 {
    position: absolute;
    top: 774px;
    left: -11px;
    letter-spacing: -0.05em;
    line-height: 89px;
    display: flex;
    align-items: center;
    width: 115px;
    height: 392px;
    filter: blur(3px);
}

.div5 {
    position: absolute;
    top: 774px;
    left: 126px;
    letter-spacing: -0.05em;
    line-height: 89px;
    display: flex;
    align-items: center;
    width: 115px;
    height: 392px;
    filter: blur(3px);
}

.div6 {
    position: absolute;
    top: 1166px;
    left: 0px;
    letter-spacing: -0.05em;
    line-height: 89px;
    display: flex;
    align-items: center;
    width: 115px;
    height: 392px;
    filter: blur(4px);
}

.div7 {
    position: absolute;
    top: 1166px;
    left: 137px;
    letter-spacing: -0.05em;
    line-height: 89px;
    display: flex;
    align-items: center;
    width: 115px;
    height: 392px;
    filter: blur(4px);
}

.div8 {
    position: absolute;
    top: 1558px;
    left: 0px;
    letter-spacing: -0.05em;
    line-height: 89px;
    display: flex;
    align-items: center;
    width: 115px;
    height: 392px;
    filter: blur(5px);
}

.div9 {
    position: absolute;
    top: 1558px;
    left: 137px;
    letter-spacing: -0.05em;
    line-height: 89px;
    display: flex;
    align-items: center;
    width: 115px;
    height: 392px;
    filter: blur(5px);
}

.div10 {
    position: absolute;
    top: 1950px;
    left: 0px;
    letter-spacing: -0.05em;
    line-height: 89px;
    display: flex;
    align-items: center;
    width: 115px;
    height: 392px;
    filter: blur(6px);
}

.div11 {
    position: absolute;
    top: 1950px;
    left: 137px;
    letter-spacing: -0.05em;
    line-height: 89px;
    display: flex;
    align-items: center;
    width: 115px;
    height: 392px;
    filter: blur(6px);

}

.div12 {
    position: absolute;
    top: 2342px;
    left: 0px;
    letter-spacing: -0.05em;
    line-height: 89px;
    display: flex;
    align-items: center;
    width: 115px;
    height: 392px;
    filter: blur(8px);
}

.div13 {
    position: absolute;
    top: 2342px;
    left: 137px;
    letter-spacing: -0.05em;
    line-height: 89px;
    display: flex;
    align-items: center;
    width: 115px;
    height: 392px;
    filter: blur(8px);
}

.div14 {
    position: absolute;
    top: 2734px;
    left: 0px;
    letter-spacing: -0.05em;
    line-height: 89px;
    display: flex;
    align-items: center;
    width: 115px;
    height: 392px;
    filter: blur(10px);
}

.div15 {
    position: absolute;
    top: 2734px;
    left: 137px;
    letter-spacing: -0.05em;
    line-height: 89px;
    display: flex;
    align-items: center;
    width: 115px;
    height: 392px;
    filter: blur(10px);
}

.parent {
    width: 252px;
    position: relative;
    height: 3752px;
}

.sensory-archive-inner {
    position: absolute;
    top: 945px;
    left: 724px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    font-size: 64px;
    font-family: Khmer;
}

.sensory-archive1 {
    position: relative;
    line-height: 64px;
    filter: blur(2px);
    transform: matrix3d(1px);


}

.sensory-archive-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.sensory-archive-child {
    position: absolute;
    top: 448px;
    left: 0px;
    width: 1668px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    font-size: 230px;
}

.explore {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 64px;
    display: inline-block;
    width: 99px;
    height: 56px;
}

.about {
    position: absolute;
    top: 48px;
    left: 2px;
    line-height: 64px;
    display: inline-block;
    width: 99px;
    height: 56px;
}

.sensories {
    position: absolute;
    top: 98px;
    left: 2px;
    line-height: 64px;
    white-space: pre-wrap;
    display: inline-block;
    width: 151px;
    height: 56px;
}

.explore-parent {
    width: 153px;
    position: relative;
    height: 154px;
}

.sensory-archive-exploring {
    width: 552px;
    position: relative;
    line-height: 64px;
    white-space: pre-wrap;
    text-align: center;
    display: inline-block;
    height: 56px;
    flex-shrink: 0;
}

.group-parent {
    position: absolute;
    top: 14px;
    left: 60px;
    width: 1626px;
    display: none;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    text-align: left;
}

.H_Grad-group {
    position: absolute;
    top: 44px;
    left: 23px;
    width: 343.5px;
    height: 340px;
    object-fit: cover;
    transition: cubic-bezier(0.75, 0.82, 0.2, 1);
    filter: grayscale(10%)blur(1px);

}

.H_Grad-group:hover {
    filter: brightness(100%);
    filter: blur(1px);
    transform: scale(1.15);
}

.cello-group {
    position: absolute;
    top: 480px;
    left: 1px;
    width: 387px;
    height: 350px;
    object-fit: cover;
    transition: cubic-bezier(0.75, 0.82, 0.2, 1.5);
    filter: grayscale(20%)blur(2px);
}

.cello-group:hover {
    filter: brightness(100%);
    filter: blur(1px);
    transform: scale(1.15);
}

.skate-group {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 346.2px;
    height: 348px;
    object-fit: cover;
    transition: cubic-bezier(0.75, 0.82, 0.2, 1.5);
    filter: grayscale(30%)blur(3px);
}

.skate-group:hover {
    filter: brightness(100%);
    filter: blur(1px);
    transform: scale(1.15);
}

.group-wrapper {
    position: absolute;
    top: 828px;
    left: 21px;
    width: 346.2px;
    height: 348px;
}

.flower-group {
    position: absolute;
    top: 1176px;
    left: 0px;
    width: 389px;
    height: 381px;
    object-fit: cover;
    transition: cubic-bezier(0.75, 0.82, 0.2, 1.5);
    filter: grayscale(40%)blur(4px);
}

.flower-group:hover {
    filter: brightness(100%);
    filter: blur(1px);
    transform: scale(1.15);
}

.phone-group {
    position: absolute;
    top: 1602px;
    left: 1px;
    width: 339px;
    height: 342px;
    object-fit: cover;
    transition: cubic-bezier(0.75, 0.82, 0.2, 1.5);
    filter: grayscale(50%)blur(5px);
}

.phone-group:hover {
    filter: brightness(100%);
    filter: blur(1px);
    transform: scale(1.15);
}

.k-grad-group {
    position: absolute;
    top: 2017px;
    left: 0px;
    width: 327px;
    height: 331.2px;
    object-fit: cover;
    transition: cubic-bezier(0.75, 0.82, 0.2, 1.5);
    filter: grayscale(60%)blur(6px);
}

.k-grad-group:hover {
    filter: brightness(100%);
    filter: blur(1px);
    transform: scale(1.15);
}

.piano-group {
    position: absolute;
    top: 2407px;
    left: 31px;
    width: 327px;
    height: 327px;
    object-fit: cover;
    transition: cubic-bezier(0.75, 0.82, 0.2, 1.5);
    filter: grayscale(80%)blur(8px);
}

.piano-group:hover {
    filter: brightness(100%);
    filter: blur(1px);
    transform: scale(1.15);
}

.teddy-group {
    position: absolute;
    top: 2830px;
    left: 31px;
    width: 321px;
    height: 317px;
    object-fit: cover;
    transition: cubic-bezier(0.75, 0.82, 0.2, 1.5);
    filter: grayscale(100%)blur(10px);
}

.teddy-group:hover {
    filter: brightness(100%);
    filter: blur(1px);
    transform: scale(1.15);
}

.grad-group-parent {
    position: absolute;
    top: 912px;
    left: 1000px;
    width: 389px;
    height: 3793px;
}

.ring-group {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 387px;
    height: 387px;
    object-fit: cover;
    cursor: pointer;
    transition: cubic-bezier(0.75, 0.82, 0.2, 1.5);
    filter: grayscale(10%)blur(1px);
}

.ring-group:hover {
    filter: brightness(100%);
    filter: blur(1px);
    transform: scale(1.15);
}

.stilllife-group {
    position: absolute;
    top: 387px;
    left: 0px;
    width: 387px;
    height: 389px;
    object-fit: cover;
    cursor: pointer;
    transition: cubic-bezier(0.75, 0.82, 0.2, 1.5);
    filter: grayscale(20%)blur(2px);
}

.stilllife-group:hover {
    filter: brightness(100%);
    filter: blur(1px);
    transform: scale(1.15);
}

.pacifier-group {
    position: absolute;
    top: 805px;
    left: 15px;
    width: 338px;
    height: 342px;
    object-fit: cover;
    transition: cubic-bezier(0.75, 0.82, 0.2, 1.5);
    filter: grayscale(30%)blur(3px);
}

.pacifier-group:hover {
    filter: brightness(100%);
    filter: blur(1px);
    transform: scale(1.15);
}

.pandent-group {
    position: absolute;
    top: 1176px;
    left: 0px;
    width: 387px;
    height: 381px;
    object-fit: cover;
    transition: cubic-bezier(0.75, 0.82, 0.2, 1.5);
    filter: grayscale(40%)blur(4px);
}

.pandent-group:hover {
    filter: brightness(100%);
    filter: blur(1px);
    transform: scale(1.15);
}

.dog-group {
    position: absolute;
    top: 1557px;
    left: 27px;
    width: 313px;
    height: 345px;
    object-fit: cover;
    transition: cubic-bezier(0.75, 0.82, 0.2, 1.5);
    filter: grayscale(50%)blur(5px);
}

.dog-group:hover {
    filter: brightness(100%);
    filter: blur(1px);
    transform: scale(1.15);
}

.book-group {
    position: absolute;
    top: 1991px;
    left: 19px;
    width: 349px;
    height: 379px;
    object-fit: cover;
    transition: cubic-bezier(0.75, 0.82, 0.2, 1.5);
    filter: grayscale(60%)blur(6px);
}

.book-group:hover {
    filter: brightness(100%);
    filter: blur(1px);
    transform: scale(1.15);
}

.ballet-group {
    position: absolute;
    top: 2398px;
    left: 123px;
    width: 203px;
    height: 338px;
    object-fit: cover;
    transition: cubic-bezier(0.75, 0.82, 0.2, 1.5);
    filter: grayscale(80%)blur(8px);
}

.ballet-group:hover {
    filter: brightness(100%);
    filter: blur(1px);
    transform: scale(1.15);
}

.ballon-group {
    position: absolute;
    top: 2736px;
    left: 55px;
    width: 387px;
    height: 392px;
    object-fit: cover;
    transition: cubic-bezier(0.75, 0.82, 0.2, 1.5);
    filter: grayscale(100%)blur(10px);
}

.ballon-group:hover {
    filter: brightness(100%);
    filter: blur(1px);
    transform: scale(1.15);
}

.ring-1-parent {
    position: absolute;
    top: 960px;
    left: 331px;
    width: 387px;
    height: 3747px;
}

.home {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 114px;
    height: 56px;
}

.about1 {
    position: absolute;
    top: 0px;
    left: 136px;
    line-height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 115px;
    height: 56px;
    cursor: pointer;
}

.sensories1 {
    position: absolute;
    top: 0px;
    left: 251px;
    line-height: 64px;
    white-space: pre-wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 151px;
    height: 56px;
}

.home-parent {
    width: 402px;
    position: relative;
    height: 56px;
}

.sensory-archive-exploring1 {
    width: 552px;
    position: relative;
    line-height: 64px;
    white-space: pre-wrap;
    display: inline-block;
    height: 56px;
    flex-shrink: 0;
}

.group-container {
    position: absolute;
    top: 16px;
    left: 60px;
    width: 1626px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.sensory-archive {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 6634px;
    overflow: hidden;
    text-align: center;
    font-size: 24px;
    color: #000;
    font-family: Barlow;
}