.stilllife-1-icon {
    width: 966px;
    position: relative;
    height: 972px;
    object-fit: cover;
}
.stilllife-1-wrapper {
    position: absolute;
    top: -11px;
    left: 669px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
}
.location1 {
    margin: 0;
}
.location {
    position: absolute;
    top: 204px;
    left: 4px;
    letter-spacing: -0.03em;
    line-height: 30px;
    display: inline-block;
    width: 392px;
    height: 29px;
}
.the-most-painful {
    position: absolute;
    top: 28px;
    left: 1px;
    letter-spacing: -0.03em;
    line-height: 28px;
    text-align: left;
    display: inline-block;
    width: 387px;
    height: 85px;
}
.april-9th {
    position: absolute;
    top: 150px;
    left: 0px;
    letter-spacing: -0.03em;
    line-height: 30px;
    display: inline-block;
    width: 387px;
    height: 29px;
}
.time {
    position: absolute;
    top: 125px;
    left: 1px;
    letter-spacing: -0.03em;
    line-height: 30px;
    display: inline-block;
    width: 233px;
    height: 23px;
}
.memory {
    position: absolute;
    top: 0px;
    left: 2px;
    letter-spacing: -0.03em;
    line-height: 30px;
    display: inline-block;
    width: 116px;
    height: 23px;
}
.dont-remember-how {
    line-height: 24px;
}
.span {
    line-height: 28px;
}
.cried-a-lot {
    line-height: 24px;
    white-space: pre-wrap;
}
.dont-remember-how-container {
    position: absolute;
    top: 28px;
    left: 0px;
    letter-spacing: -0.03em;
    display: inline-block;
    width: 387px;
    height: 56px;
}
.more-info {
    position: absolute;
    top: 0px;
    left: 1px;
    letter-spacing: -0.03em;
    line-height: 30px;
    display: inline-block;
    text-align: justify;
    width: 116px;
    height: 23px;
}
.dont-remember-how-many-time-b-parent {
    position: absolute;
    top: 333px;
    left: 0px;
    width: 387px;
    height: 84px;
    text-align: left;
}
.the-bottles-are {
    position: absolute;
    top: 230px;
    left: 0px;
    letter-spacing: -0.03em;
    line-height: 28px;
    display: inline-block;
    width: 387px;
    height: 128px;
}
.location-parent {
    width: 396px;
    position: relative;
    height: 417px;
}
.group-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.stillife-inner {
    position: absolute;
    top: 114px;
    left: 186px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
}
.home {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 114px;
    height: 56px;
    color: black;
}
.about {
    position: absolute;
    top: 0px;
    left: 125px;
    line-height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 115px;
    height: 56px;
    cursor: pointer;
    color: black;
}
.sensories {
    position: absolute;
    top: 0px;
    left: 251px;
    line-height: 64px;
    white-space: pre-wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 151px;
    height: 56px;
    color: black;
}
.home-parent {
    width: 402px;
    position: relative;
    height: 56px;
}
.sensory-archive-exploring {
    width: 552px;
    position: relative;
    line-height: 64px;
    white-space: pre-wrap;
    display: inline-block;
    height: 56px;
    flex-shrink: 0;
}
.group-parent {
    position: absolute;
    top: 7px;
    left: 49px;
    width: 1626px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
.div {
    width: 67px;
    position: relative;
    line-height: 64px;
    display: inline-block;
    height: 56px;
    flex-shrink: 0;
    transform:  rotate(180deg);
    cursor: pointer;
    color:black;
}
.div1 {
    width: 67px;
    position: relative;
    line-height: 64px;
    display: inline-block;
    height: 56px;
    flex-shrink: 0;
    cursor: pointer;
    color:black;
}
.parent {
    position: absolute;
    top: 501px;
    left: 49px;
    width: 1630px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    font-size: 100px;
    font-family: Abel;
}
.stillife {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 1117px;
    overflow: hidden;
    text-align: justify;
    font-size: 24px;
    color: #000;
    font-family: Barlow;
}

