.div {
    width: 67px;
    position: relative;
    line-height: 64px;
    display: inline-block;
    height: 56px;
    flex-shrink: 0;
    transform:  rotate(180deg);
    cursor: pointer;
    color:black;
}
.div1 {
    width: 67px;
    position: relative;
    line-height: 64px;
    display: inline-block;
    height: 56px;
    flex-shrink: 0;
    cursor: pointer;
    color:black;
}
.teddy-1-icon {
    position: absolute;
    top: 120px;
    left: 800px;
    width: 500px;
    height: 848px;
    object-fit: cover;

}
.div2 {
    width: 67px;
    position: relative;
    line-height: 64px;
    display: inline-block;
    height: 56px;
    flex-shrink: 0;
    transform:  rotate(180deg);
    cursor: pointer;
}
.div3 {
    width: 67px;
    position: relative;
    line-height: 64px;
    display: inline-block;
    height: 56px;
    flex-shrink: 0;
    cursor: pointer;
}
.parent {
    position: absolute;
    top: 501px;
    left: 49px;
    width: 1630px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.home {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 114px;
    height: 56px;
    color:black;
}
.about {
    position: absolute;
    top: 0px;
    left: 125px;
    line-height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 115px;
    height: 56px;
    cursor: pointer;
    color:black;
}
.sensories {
    position: absolute;
    top: 0px;
    left: 251px;
    line-height: 64px;
    white-space: pre-wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 151px;
    height: 56px;
    color:black;
}
.home-parent {
    width: 402px;
    position: relative;
    height: 56px;
}
.sensory-archive-exploring {
    width: 552px;
    position: relative;
    line-height: 64px;
    white-space: pre-wrap;
    display: inline-block;
    height: 56px;
    flex-shrink: 0;
}
.group-parent {
    position: absolute;
    top: 8px;
    left: 49px;
    width: 1626px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    font-size: 24px;
    font-family: Barlow;
}
.location1 {
    margin: 0;
}
.location {
    position: absolute;
    top: 196px;
    left: 3px;
    letter-spacing: -0.03em;
    line-height: 30px;
    display: inline-block;
    width: 392px;
    height: 29px;
}
.this-is-my {
    position: absolute;
    top: 27px;
    left: 2px;
    letter-spacing: -0.03em;
    line-height: 28px;
    text-align: left;
    display: inline-block;
    width: 387px;
    height: 75px;
}
.september-20th {
    position: absolute;
    top: 148px;
    left: 3px;
    letter-spacing: -0.03em;
    line-height: 30px;
    display: inline-block;
    width: 387px;
    height: 29px;
}
.time {
    position: absolute;
    top: 123px;
    left: 2px;
    letter-spacing: -0.03em;
    line-height: 30px;
    display: inline-block;
    width: 233px;
    height: 23px;
}
.memory {
    position: absolute;
    top: 0px;
    left: 3px;
    letter-spacing: -0.03em;
    line-height: 30px;
    display: inline-block;
    width: 116px;
    height: 23px;
}
.have-been-worn {
    position: absolute;
    top: 25px;
    left: 0px;
    letter-spacing: -0.03em;
    line-height: 28px;
    display: inline-block;
    width: 387px;
    height: 56px;
}
.more-info {
    position: absolute;
    top: 0px;
    left: 1px;
    letter-spacing: -0.03em;
    line-height: 30px;
    display: inline-block;
    text-align: justify;
    width: 116px;
    height: 23px;
}
.have-been-worn-out-so-muchi-parent {
    position: absolute;
    top: 260px;
    left: 3px;
    width: 387px;
    height: 81px;
    text-align: left;
}
.old-apartment-in {
    position: absolute;
    top: 220px;
    left: 4px;
    letter-spacing: -0.03em;
    line-height: 30px;
    text-align: left;
    display: inline-block;
    width: 387px;
    height: 128px;
}
.location-parent {
    width: 392px;
    position: relative;
    height: 348px;
}
.group-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.web-2-1-4-inner {
    position: absolute;
    top: 125px;
    left: 191px;
    width: 392px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: justify;
    font-size: 24px;
    font-family: Barlow;
}
.web-2-1-4 {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 1117px;
    overflow: hidden;
    text-align: left;
    font-size: 100px;
    color: #000;
    font-family: Abel;
}

